.generator output {
    background-color: rgba(255, 255, 255, 0);
    font-size: 50px;
    word-wrap: break-word;
    text-align: center;
}




.rand {
    border: black 2px solid;
    width: fit-content;
    margin: auto;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    justify-content: space-between;
    margin: 5px;
    padding: 2px;
}

.rand:hover {
    background-color: #114200;
    color: white;
}

#copied {
    display: none;
    font-size: 20px;
}