.generator {
    width: 60%;
    border: 10px solid #60c040;
    border-radius: 10px;
    margin-left: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #60c040;
    text-align: center;
}

.generator input[type=number] {
    text-align: center;
    color: #000000;
    background-color: rgb(255, 255, 255);
    font-size: 50px;
    width: 80%;
    margin: 15px;
    border-radius: 10px;
}

.generator output {
    background-color: rgba(255, 255, 255, 0);
    font-size: 50px;
    word-wrap: break-word;
    text-align: center;
}

output {
    white-space: pre-wrap;
    background-color: rgb(0, 0, 0);
}

button {
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    font-size: 30px;
    text-decoration: none;
}

button:hover {
    background-color: #174109;
    color: #ffffff;
}

.rand {
    border: black 2px solid;
    width: fit-content;
    margin: auto;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    justify-content: space-between;
    margin: 5px;
    padding: 2px;
}

.rand:hover {
    background-color: #114200;
    color: white;
}

#copied {
    display: none;
    font-size: 20px;
}