* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Futura', sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #0a0a0a;
    color: rgb(255, 255, 255);
    margin-bottom: 70px;
    padding-bottom: 1px;
}

header {
    background-color: #60c040;
    color: rgb(0, 0, 0);
    width: 100%;
    min-height: 70px;
}

header .home {
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

header .home:hover {
    color: #ffffff;
}

.header a {
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.mainlinks {
    border: 2px solid #022c0c;
    background-color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    width: 500px;
    margin-left: 25%;
    margin-top: 25px;
    padding: 5px;
    font-size: 30px;
}

.mainlinks a {
    color: #000000;
    text-decoration: none;
}

.mainlinks a:hover {
    color: #60c040;
}

.sitenav {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.sitenav a {
    text-align: center;
    text-decoration: none;
    color: #000000;
    padding: 5px;
}

.sitenav a:hover {
    text-decoration: none;
    color: #ffffff;
}

footer {
    background-color: #60c040;
    color: rgb(0, 0, 0);
    bottom: 0;
    width: 100%;
    height: 70px;
    padding-top: 15px;
    position: absolute;
    text-align: center;
    float: left;
    float: inline-end;
}

.footer {
padding-top: 15px;
margin-top: 25px;
}

footer a {
    text-align: center;
    text-decoration: none;
    color: #000000;
}

footer a:hover {
    text-decoration: none;
    color: #ffffff;
}

.maincontent {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 25px;
    border: 2px solid #022c0c;
    background-color: #ffffff;
    border-radius: 10px;
    color: black;
}

.breadcrumb {
    float: left;
}

input {
    text-align: center;
    color: #000000;
    background-color: rgb(255, 255, 255);
    font-size: 50px;
    width: 80%;
    margin: 15px;
    border-radius: 10px;
}

.generator {
    width: 60%;
    border: 10px solid #60c040;
    border-radius: 10px;
    margin-left: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #60c040;
    text-align: center;
    min-height: 30vh;
}

.generator output {
    background-color: rgba(255, 255, 255, 0);
    font-size: 50px;
    word-wrap: break-word;
    text-align: center;
}

output {
    white-space: pre-wrap;
    background-color: rgb(0, 0, 0);
}

button {
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    font-size: 30px;
    text-decoration: none;
}

button:hover {
    background-color: #174109;
    color: #ffffff;
}
