body {
    background-color: #1D2021;
    color: white;
}

header {
    width: 100%;
    height: 100px;
    background-color: #242829;
}

.box1 {
    color: red;
}

.box2 {
    color: green;
    background-color: blue;
}



