* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Futura', sans-serif;
}

body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

header {
    background-color: #78bc61;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 70px;
    line-height: 70px;
}
#home {
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 30px;
}
#home:hover {
    color: #ffffff;
}

#home:visited {
}
